#titleImage {font-weight: bold;background: white;}
#buttons{font: caption; font-size: 10em;}
title head {font-weight: bold;
    color: red;
    background: green;}

* {background-image: url("Christmas Images Half.png"); 
    color: green; 
    background-color: white;}